version: "3.9"

services:
  usuarios-api:
    build: ./backend/usuarios-api
    environment:
      - PORT=3001
      - SERVICE_NAME=usuarios-api
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "3001:3001"
    restart: unless-stopped
  frontend:
    build: ./frontend
    environment:
      - PORT=3000
      - SERVICE_NAME=frontend
    ports:
      - "3000:80"
    restart: unless-stopped

  catalogo-inventario-api:
    build: ./backend/catalogoInventario-api
    environment:
      - PORT=3002
      - SERVICE_NAME=catalogo-inventario-api
      - DATABASE_URL_NOSQL=${DATABASE_URL_NOSQL}
    ports:
      - "3002:3002"
    restart: unless-stopped

  historial-optometrico-api:
    build: ./backend/historialOptometrico-api
    environment:
      - PORT=3003
      - SERVICE_NAME=historial-optometrico-api
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "3003:3003"
    restart: unless-stopped

  gestion-paciente-api:
    build: ./backend/gestionPaciente-api
    environment:
      - PORT=3004
      - SERVICE_NAME=gestion-paciente-api
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "3004:3004"
    restart: unless-stopped

  # products-api:
  #   build: ./products-api
  #   environment:
  #     - PORT=4002
  #     - SERVICE_NAME=products-api
  #     - DATABASE_URL_MONGO=${DATABASE_URL_MONGO}
  #     - USERS_API_URL=${USERS_API_URL}
  #   ports:
  #     - "4002:4002"
  #   depends_on:
  #     - users-api
  #   restart: unless-stopped